@import url('http://fonts.cdnfonts.com/css/raleway-5');

html * {
    font-family: 'Raleway', sans-serif !important;
    color: black;
}

body {
    margin: 2%;
    font-size: 19px;
}

.header {
    font-size: 30px !important;
    color: #FD3B72;
    font-weight: bold;
    margin-top: 6px;
    float: left;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0px;
}

.logo {
    max-height: 50px;
    width: auto;
    float: left;
}

.btn2 {
    background-color: white;
    border: none; /* Remove borders */
    color: black; /* Black text */
    padding: 12px 16px; /* Some padding */
    font-size: 14px; /* Set a font size */
    display: flex;
    align-items: center;
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 8px;
    position: absolute;
    top: 135px;
    right: 5%;
  }

.icon {
    height: 5px;
    width: 5px;
  }
  
  /* Table Code */
  
  .container {
    margin-top: 10px;
    overflow: scroll;
    width: 100%;
    height: 77%;
  }
  
  .events, .eventsdata {
    width: 100%;
    table-layout: fixed;
  }
  
  .events th {
    font-size: 25px;
  }
  
  colgroup .tick {
    width: 3%;
  }
  
  colgroup .Product {
    width: 35%;
  }
  
  colgroup .Unit_Price, .QTY, .Subtotal {
    width: 10%;
  }
  
  tr {
    line-height: 25px;
    text-align: left;
  }
  
  td {
    line-height: 25px;
    font-size: 18px;
  }
  
  .loading_message {
    height: 100%;
    text-align: center;
    font-size: 50px !important;
  }
  
  .selectall {
    margin-left: 3px;
    display: inline-block;
  }
  
  .clearselection {
    display: inline-block;
    margin-left: 20px;
    color:#FD3B72;
    font-weight: bold;
  }
  
  .clearselection:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  tbody td:hover {
    cursor: pointer;
  }