@import url('http://fonts.cdnfonts.com/css/raleway-5');

html * {
    font-family: 'Raleway', sans-serif !important;
}

:root {
  --fontsize: 1.375em;
  --topspace: 5.5em;
  --rohtop: 4.5em;
}

.header {
  height: 10em;
  width: 100%;

  position: relative;
}

.icon {
  height: 10em;
  width: 12em;
  margin-left: 2.5em;
  
  display: inline-block;
  position: absolute;
}

.icon img {
  width: 10em;
  margin-top: 3em;
}

.notifc {
  display:inline-block;
  position: absolute;
  margin-left: 98em;
  margin-top: 2em;
}

.notifs {
  font-weight: bold;
  display: flex;
  align-items: center;

  height: 2em;
}

.notifi {
  height: 40px;
  width: 40px;
}

.accs {
  font-weight: bold;
  display: inline-block;
  position: absolute;
  
  margin-left: 109.5em;
  margin-top: 2.4em;
}

.accs a {
  color:black;
  text-decoration: none;
}

/*LABEL*/
.subheading {
  margin-top: 2.1em;
  margin-left: 8em;
  float: left;
  font-weight: bold;
  font-size: 30px;
  color:#FD3B72;
}


/*BODY*/

.main_content {
  margin: 0 2% 2% 2%;
  font-size: 1rem;
  font-weight: bold;
}

input[type="submit"] {
  border-radius: 0.2rem;
  background-color: #FD3B72;
  font-weight: bold;
  font-size: 15px;
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
  width: 175px;
  margin-bottom: 50px;
  cursor: pointer;
  float: right;
  margin-top: 50px;
  margin-right: 2%;
}

.subHeader, .total {
float: right;
font-size: 25px;
position: relative;
margin-right: 25px;
margin-top: 50px;
}

.total{
font-weight: bold;
}
  
  /* Table Code */

  .btn2 {
  background-color: white;
  border: none; /* Remove borders */
  color: #FD3B72; /* Black text */
  padding: 12px 16px; /* Some padding */
  font-size: 20px; /* Set a font size */
  display: flex;
  align-items: center;
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 8px;
  position: absolute;
  top: 135px;
  right: 5%;
  font-weight: bold;
}

.delete {
  height: 25px;
  margin-right: 5px;
}
  .container {
    overflow: scroll;
    width: 100%;
    height: 77%;
  }
  
  .cart, .cartdata {
    width: 100%;
    table-layout: fixed;
  }
  
  .cart th {
    font-size: 25px;
  }
  
  colgroup .tick {
    width: 3%;
  }
  
  colgroup .Product {
    width: 67%;
  }
  
  colgroup .Unit_Price, .QTY, .Subtotal {
    width: 10%;
  }
  
  tr {
    line-height: 25px;
    text-align: left;
  }
  
  td {
    line-height: 25px;
    font-size: 18px;
  }
  
  .loading_message {
    height: 100%;
    text-align: center;
    font-size: 50px !important;
  }
  
  .selectall {
    margin-left: 3px;
    display: inline-block;
  }
  
  .clearselection {
    display: inline-block;
    margin-left: 20px;
    color:#FD3B72;
    font-weight: bold;
  }
  
  .clearselection:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  tbody td:hover {
    cursor: pointer;
  }


