:root {
    --fontsize: 1.375em;
    --topspace: 5.5em;
    --rohtop: 4.5em;
}

.header {
    height: 10em;
    width: 100%;

    position: relative;
}

.icon {
    height: 10em;
    width: 12em;
    margin-left: 2.5em;
    
    display: inline-block;
    position: absolute;
}

.icon img {
    width: 10em;
    margin-top: 3em;
}

.hcatscont {
    height: 8em;
    width: 15em;

    display: inline-block;
    margin-top: 5em;
    margin-left: 15em;
    z-index: 1;

    overflow: visible;
}

.SoT {
    height: 8em;
    width: 15em;

    display: inline-block;
    position: absolute;

    margin-top: 5em;
}

.SoT a {
    color: black;
    text-decoration: none;
    font-size: var(--fontsize);
    font-weight: 700;
}

.searchbar {
    width: fit-content;
    display: inline-block;
    
    position: absolute;

    margin-top: 4.5em;
    margin-left: 45em;
}

.searchbar input[type=text] {
    background-color: #F4f4f4;
    border-radius: 5px;
    border: 0;

    height: 40px;
    width: 550px;
    z-index: 1;
}

.search {
    border: none;
    position: absolute;

    background-color: #f4f4f4;
    height: 30px;
    margin-left: -60px;
    margin-top: 2px;
    z-index: 2;
}

.search img {
    height: 37.5px;
    width: 37.5px;
    z-index: 2;
}

.searchbar input[type=text]::placeholder {
    color: gray;
}

.cart {
    display: inline-block;
    position: absolute;

    margin-top: 3.9em;
    margin-left: 80em;
}

.carti {
    height: 60px;
    width: 60px;
}

.notifc {
    display:inline-block;
    position: absolute;

    margin-left: 68em;
    margin-top: 2em;
}

.notifs {
    font-weight: bold;
    display: flex;
    align-items: center;

    height: 2em;
}

.notifi {
    height: 40px;
    width: 40px;
}

.accs {
    font-weight: bold;
    display: inline-block;
    position: absolute;

    margin-left: 79.5em;
    margin-top: 2.4em;
}

.accs a {
    color:black;
    text-decoration: none;
}

/* Body */
.body {
    display: flex;
    width: 100%;
    height: 850px;
}

.content {
    display: flex;
    width:100%;

    flex-direction: column;
}

/* Sidebar Content*/
.sidebar {
    width: 500px;
    z-index: 2;

    display: flex;
    justify-content: flex-end;
}

.sidebar label {
    font-weight: bold;
    padding-right: .5em;
}

.sort {
    width: 15em;
    height: 2em;
    margin: 1em 1.5em 2em 0em;

    font-size: 16px;
    font-weight: bold;
    background-color: white;
}

.typef, .colorf, .catf {
    margin-bottom: 1em;
}

.sizef {
    margin-bottom: 2em;
}

.filtSub {
    background-color: #FF6061;
    color: white;

    border-radius: .375em;
    border: 2px solid white;

    padding: .375em 1em;

    font-size: 16px;
    font-weight: bold;
}

.filtSub:hover {
    background-color: white;
    border: 2px solid black;
    color: black;

    cursor: pointer;
}

/* Breadcrumbs Content */
.breadcrumbs {
    display: inline-block;

    height: fit-content;
    width: 90%;
    padding: .5em 0em 1em 1em;
    z-index: 2;


    font-weight: bold;
}

.home{
    text-decoration: none;
    color: black;
    
}

.home{
    cursor: pointer;
}

/* Products Content */
.catTitle {
    padding: 0 0 8px 16px;
    font-size: 36px;
}

.products {
    width: 98.5%;
    height: 800px;

    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.products::-webkit-scrollbar {
    width: 8px;
}

.products::-webkit-scrollbar-track {
    background: #eaeaea;
}

.products::-webkit-scrollbar-thumb {
    background: #fc7c7c;
}

.products::-webkit-scrollbar-thumb:hover {
    background: #FF6061;
}

.item {
    width: 300px;
    height: 400px;
    margin: .5em;

    background-color: #F4F4F4;
}

.itemPic {
    width: 300px;
    height: 300px;
    
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.itemDesc {
    padding: .5em 1em;
}

.prodName {
    font-size: 18px;
    font-weight: bold;
}

.sellName {
    margin-bottom: .5em;
}

.item a {
    text-decoration: none;
    color: black;
}

