@import url('http://fonts.cdnfonts.com/css/raleway-5');

html * {
    font-family: 'Raleway', sans-serif !important;
}

.main_content {
    margin: 0 2% 2% 2%;
  }

:root {
  --fontsize: 1.375em;
  --topspace: 5.5em;
  --rohtop: 4.5em;
}

.header {
  height: 10em;
  width: 100%;

  position: relative;
}

.icon {
  height: 10em;
  width: 12em;
  margin-left: 2.5em;
  
  display: inline-block;
  position: absolute;
}

.icon img {
  width: 10em;
  margin-top: 3em;
}

.notifc {
  display:inline-block;
  position: absolute;
  margin-left: 98em;
  margin-top: 2em;
}

.notifs {
  font-weight: bold;
  display: flex;
  align-items: center;

  height: 2em;
}

.notifi {
  height: 40px;
  width: 40px;
}

.accs {
  font-weight: bold;
  display: inline-block;
  position: absolute;
  
  margin-left: 109.5em;
  margin-top: 2.4em;
}

.accs a {
  color:black;
  text-decoration: none;
}

/*LABEL*/
.subheader {
  margin-top: 2.1em;
  margin-left: 8em;
  float: left;
  font-weight: bold;
  font-size: 30px;
  color:#FD3B72;
}

hr {
    size: 2px;
    color: black;
}

.line {
    margin-top: 70px;
    margin-bottom: 0px;
}

.location {
    max-height: 30px;
    width: auto;
    float: left;
}

.subheading {
    font-size: 25px;
    float: left;
    color: #FD3B72;
}

.userAddress, .userContactNumber {
    position: absolute;
    margin-left: 2%;
    font-size: 20px;
}

.userContactNumber {
    margin-bottom: 0px;
}



.item {
    max-height: 100px;
    width: auto;
}

/* Table Code */

.container {
    margin-top: 10px;
    overflow: scroll;
    width: 100%;
    height: 77%;
  }
  
  .checkout, .checkoutdata {
    width: 100%;
    table-layout: fixed;
  }
  
  .checkout th {
    font-size: 15px;
  }
  
  colgroup .Product {
    width: 55%;
  }
  
  colgroup .Unit_Price, .QTY, .Subtotal {
    width: 15%;
  }
  
  tr {
    line-height: 25px;
    text-align: left;
  }
  
  td {
    line-height: 25px;
    font-size: 18px;
  }
  
  .loading_message {
    height: 100%;
    text-align: center;
    font-size: 50px !important;
  }
  

  
  .clearselection:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  tbody td:hover {
    cursor: pointer;
  }

/*payment options*/

.form-control {
    line-height: 1.2;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: none;
    margin: 0;
    width: 1.65em;
    height: 1.65em;
    border: 0.15em solid black;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.form-control + .form-control {
    margin-top: 1em;
}

input[type="radio"]::before {
    content: "";
    width: 1.65em;
    height: 1.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: black;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="text"] {
    width: 300px;
    height: 20px;
    position: relative;
    font-size: 16px;
}


/*order button*/

.order {
    border-radius: 0.2rem;
    background-color: #FD3B72;
    font-weight: bold;
    border: none;
    color: white;
    text-align: center;
    padding: 15px;
    width: 175px;
    margin-top: 100px;
    margin-left: 100px;
    letter-spacing: 1px;
    cursor: pointer;
}

.order:hover {
    background-color: #FF6C5A;
    color: white;
}

/*payment breakdown*/

.sub_total, .shipping, .total {
    float: left;
    position: absolute;
    margin-left: 200px;
}

.paymentHeading {
    float: left;
    position: absolute;
}

.total {
    color: #FD3B72;
}