@import url('http://fonts.cdnfonts.com/css/raleway-5');

html * {
    font-family: 'Raleway', sans-serif !important;
}

/*BODY*/

.main_content {
    margin: 0 0 0 2%;
    font-size: 1rem;
    font-weight: bold;
}

.subheading {
    font-size: 30px !important;
    color: #FD3B72;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;
}

.caption {
    margin-top: 0px;
}

.number, .sellerName {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 1rem;
    border-radius: 0.2rem;
    background-color: #F4F4F4;
    border: none;
    width: 30%;
    margin-top: 30px;
}

.address {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 1rem;
    border-radius: 0.2rem;
    background-color: #F4F4F4;
    border: none;
    width: 95%;
    
}

input[type="button"] {
    border-radius: 0.2rem;
    background-color: #FF6C5A;
    font-weight: bold;
    font-size: 15px;
    border: none;
    color: white;
    text-align: center;
    padding: 10px;
    width: 175px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.save {
    border-radius: 0.2rem;
    background-color: #FD3B72;
    font-weight: bold;
    font-size: 15px;
    border: none;
    color: white;
    text-align: center;
    padding: 10px;
    width: 175px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}