:root {
    --fontsize: 1.375em;
    --topspace: 5.5em;
    --rohtop: 4.5em;
}

/* Body */

.body {
    margin: auto;

    height: 600px;
    width: 1200px;
}

.title {
    text-align: center;
    font-size: 1.5em;

    margin-top: 2em;
    margin-bottom: 2em;
}

.bcats{
    display: flex;
    align-content: center;
    overflow: visible;
}

.bcats div img {
    height: 400px;
    width: 400px;
}

/* Newsletter */

.newsletter {
    width: 100%;
}

.divider {
    width: 90%;
    height: 1px;

    border-radius: 10px;
    background-color: lightslategray;

    margin: auto
}

.subbox {
    margin: auto;
    margin-top: 2em;


    width: fit-content;
}

.sub {
    color: #FD3B72;
    text-decoration: none;
}

/* Modal */

.modalbg {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.modal {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 8px;
    width: 25%; /* Could be more or less, depending on screen size */
    text-align: center;
}
  
.modalClose {
    background-color: #FF6061;
    color: white;

    border-radius: .375em;
    border: 2px solid white;

    margin-top: 1.5em;
    margin-bottom: -.5em;
    padding: .375em 1em;

    font-size: 16px;
    font-weight: bold;
}

.modalClose:hover {
    background-color: white;
    border: 2px solid black;
    color: black;

    cursor: pointer;
}