:root {
    --fontsize: 1.375em;
    --topspace: 5.5em;
    --rohtop: 4.5em;
}

/* Body */

.body {
    margin: auto;

    height: 600px;
    width: 1200px;
}

.title {
    text-align: center;
    font-size: 1.5em;

    margin-top: 2em;
    margin-bottom: 2em;
}

.bcats{
    display: flex;
    align-content: center;
    overflow: visible;
}

.bcats div img {
    height: 400px;
    width: 400px;
}

/* Newsletter */

.newsletter {
    width: 100%;
}

.divider {
    width: 90%;
    height: 1px;

    border-radius: 10px;
    background-color: lightslategray;

    margin: auto
}

.subbox {
    margin: auto;
    margin-top: 2em;


    width: fit-content;
}

.sub {
    color: #FD3B72;
    text-decoration: none;
}