:root {
    --fontsize: 1.375em;
    --topspace: 5.5em;
    --rohtop: 4.5em;
}

.header {
    height: 10em;
    width: 100%;

    position: relative;
}

.icon {
    height: 10em;
    width: 12em;
    margin-left: 2.5em;
    
    display: inline-block;
    position: absolute;
}

.icon img {
    width: 10em;
    margin-top: 3em;
}

.hcatscont {
    height: 8em;
    width: 15em;

    display: inline-block;
    margin-top: 5em;
    margin-left: 15em;

    overflow: visible;
}

.SoT {
    height: 8em;
    width: 15em;

    display: inline-block;
    position: absolute;

    margin-top: 5em;
}

.SoT a {
    color: black;
    text-decoration: none;
    font-size: var(--fontsize);
    font-weight: 700;
}

.searchbar {
    width: fit-content;
    display: inline-block;
    
    position: absolute;

    margin-top: 4.5em;
    margin-left: 45em;
}

.searchbar input[type=text] {
    background-color: #F4f4f4;
    border-radius: 5px;
    border: 0;

    height: 40px;
    width: 550px;
    z-index: 1;
}

.search {
    border: none;
    position: absolute;

    background-color: #f4f4f4;
    height: 30px;
    margin-left: -60px;
    margin-top: 2px;
    z-index: 2;
}

.search img {
    height: 37.5px;
    width: 37.5px;
    z-index: 2;
}

.searchbar input[type=text]::placeholder {
    color: gray;
}

.cart {
    display: inline-block;
    position: absolute;

    margin-top: 3.9em;
    margin-left: 80em;
}

.carti {
    height: 60px;
    width: 60px;
}

.notifc {
    display:inline-block;
    position: absolute;

    margin-left: 68em;
    margin-top: 2em;
}

.notifs {
    font-weight: bold;
    display: flex;
    align-items: center;

    height: 2em;
}

.notifi {
    height: 40px;
    width: 40px;
}

.accs {
    font-weight: bold;
    display: inline-block;
    position: absolute;

    margin-left: 79.5em;
    margin-top: 2.4em;
}

.accs a {
    color:black;
    text-decoration: none;
}




/* Body */

.body {
    margin: auto;

    height: 600px;
    width: 1200px;
}

.title {
    text-align: center;
    font-size: 1.5em;

    margin-top: 2em;
    margin-bottom: 2em;
}

.bcats{
    display: flex;
    align-content: center;
    overflow: visible;
}

.bcats div img {
    height: 400px;
    width: 400px;
}

/* Newsletter */

.newsletter {
    width: 100%;
}

.divider {
    width: 90%;
    height: 1px;

    border-radius: 10px;
    background-color: lightslategray;

    margin: auto
}

.subbox {
    margin: auto;
    margin-top: 2em;


    width: fit-content;
}

.sub {
    color: #FD3B72;
    text-decoration: none;
}