@import url('http://fonts.cdnfonts.com/css/raleway-5');

html * {
    font-family: 'Raleway', sans-serif !important;
}

body {
  margin: 2%;
  background-image: linear-gradient(0.25turn, #FD3B72, #FE5466, #FF6C5A);
  font-weight: bold;
  font-size: 20px;
  color: white;
} 

.header {
    font-size: 40px !important;
    font-weight: bold;
    margin-top: 40px;
    text-align: left;
}

.logo {
    max-height: 45px;
    width: auto;
}

/*subscription options*/

.form-control {
    line-height: 1.0;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: none;
    margin: 0;
    width: 1.65em;
    height: 1.65em;
    border: 0.15em solid white;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.form-control + .form-control {
    margin-top: 1em;
}

input[type="radio"]::before {
    content: "";
    width: 1.65em;
    height: 1.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: white;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

/*email textbox*/
  
.form-input {
    color: #FD3B72;
    font-size: 1.2rem;
    margin-bottom: 50px;
    padding: 1rem 1rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 30%;
}

/*subscribe button*/

input[type="submit"] {
    border-radius: 0.2rem;
    background-color: #FFFF;
    font-weight: bold;
    border: none;
    color: #FD3B72;
    text-align: center;
    padding: 15px;
    width: 175px;
    transition: all 0.5s;
    margin-top: 50px;
    letter-spacing: 1px;
  }

input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

input[type="submit"]:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

input[type="submit"]:hover {
    padding-right: 25px;
}


  


