@import url('http://fonts.cdnfonts.com/css/raleway-5');

html * {
    font-family: 'Raleway', sans-serif !important;
}

/*HEADER CODE*/

.drop {
    font-size: var(--fontsize);
    font-weight: 700;
}

.hcats {
    position: relative;
    display: inline-block;
    margin-top: -20px;
    
}

.dropcont {
    display: none;
    position: absolute;
    min-width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropcont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropcont a:hover {background-color: #ddd;}

.hcats:hover .dropcont {display: block;}

:root {
    --fontsize: 1.375em;
    --topspace: 5.5em;
    --rohtop: 4.5em;
}

.header {
    height: 10em;
    width: 100%;

    position: relative;
}

.icon {
    height: 10em;
    width: 12em;
    margin-left: 2.5em;
    
    display: inline-block;
    position: absolute;
}

.icon img {
    width: 10em;
    margin-top: 3em;
}

.hcatscont {
    height: 8em;
    width: 15em;

    display: inline-block;
    margin-top: 5em;
    margin-left: 15em;

    overflow: visible;
}

.SoT {
    height: 8em;
    width: 15em;

    display: inline-block;
    position: absolute;

    margin-top: 5em;
}

.SoT a {
    color: black;
    text-decoration: none;
    font-size: var(--fontsize);
    font-weight: 700;
}

.searchbar {
    width: fit-content;
    display: inline-block;
    
    position: absolute;

    margin-top: 4.5em;
    margin-left: 45em;
}

.searchbar input[type=text] {
    background-color: #F4f4f4;
    border-radius: 5px;
    border: 0;

    height: 40px;
    width: 550px;
    z-index: 1;
}

.search {
    border: none;
    position: absolute;

    background-color: #f4f4f4;
    height: 30px;
    margin-left: -60px;
    margin-top: 2px;
    z-index: 2;
}

.search img {
    height: 37.5px;
    width: 37.5px;
    z-index: 2;
}

.searchbar input[type=text]::placeholder {
    color: gray;
}

.cart {
    display: inline-block;
    position: absolute;

    margin-top: 3.9em;
    margin-left: 80em;
}

.carti {
    height: 60px;
    width: 60px;
}

.notifc {
    display:inline-block;
    position: absolute;

    margin-left: 68em;
    margin-top: 2em;
}

.notifs {
    font-weight: bold;
    display: flex;
    align-items: center;

    height: 2em;
}

.notifi {
    height: 40px;
    width: 40px;
}

.accs {
    font-weight: bold;
    display: inline-block;
    position: absolute;

    margin-left: 79.5em;
    margin-top: 2.4em;
}

.accs a {
    color:black;
    text-decoration: none;
}


/*BODY*/

.main_content {
    margin: 0 0 0 2%;
    font-size: 1rem;
    font-weight: bold;
}

/*1ST HALF*/

.prodInfo {
    float: left;
    max-width: 450px;
    font-weight: lighter;
}

.prodImg {
    width: 450px;
    height: auto;
}

.description {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.5;
}

/*OTHER HALF*/

.prodDets {
    float: left;
    margin-left: 50px;
}

.subheading {
    font-size: 30px !important;
    color: #FD3B72;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;
}

.caption {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 0px;
}

a:link, a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/*RATING*/

.user{
    margin-bottom: 0px;
}

.comment {
    font-weight: lighter;
}

.star {
    background: #FD3B72;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 25px;
    width: 25px;
  }

  .star2 {
    background: #FD3B72;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 20px;
    width: 20px;
  }

.stars{
    float: left;
}

.stars2{
    margin-top: 0;
}

.rating{
    float: left;
    font-weight: lighter;
    color: #FD3B72;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 0px;
}

.price{
    font-size: 30px;
    color: #FD3B72;
}

.color, .size{
    margin-left: 100px;
}

.caption2, .color, .size{
    color: #737373;
    font-size: 30px;   
}

/* -- quantity box -- */

.quantity {
    display: inline-block; 
    margin-top: 10px;
}
   
   .quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: #F4F4F4;
    border: none;
    font-size: large;
   }
   
   .quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }
   
   .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
   }
   
   .quantity.buttons_added .minus,
   .quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #F4F4F4;
    border: none;
    cursor:pointer;
    font-size: large;}
   
   .quantity.buttons_added .minus {
    border-right: 0; }
   
   .quantity.buttons_added .plus {
    border-left: 0; }
   
   .quantity.buttons_added .minus:hover,
   .quantity.buttons_added .plus:hover {
    background: #eeeeee; }
   
   .quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }
    
    .quantity.buttons_added .minus:focus,
   .quantity.buttons_added .plus:focus {
    outline: none; }

.qty{
    margin-left: 145px;
    font-weight: lighter;
    font-size: 25px;
    margin-top: -35px;
}

.btn, .btn1 {
    border-radius: 0.2rem;
    background-color: #FD3B72;
    font-weight: bold;
    font-size: 15px;
    border: none;
    color: white;
    text-align: center;
    padding: 15px;
    width: 175px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.btn {
    background-color: #FF6C5A;
    margin-right: 10px;
}

.btn:hover, .btn1:hover {
    background-color: #FE5466;
}

/*GALLERY*/

.slider {
    width: 400px;
    text-align: center;
    overflow: hidden;
  }
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 400px;
    height: auto;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
    color: #FF6C5A;
  }
  .slider > a:focus {
    background: #eee;
  }
