@import url('http://fonts.cdnfonts.com/css/raleway-5');

html * {
    font-family: 'Raleway', sans-serif !important;
    color: black;
}

.main_content {
    margin: 0 2% 2% 2%;
}

:root {
    --fontsize: 1.375em;
    --topspace: 5.5em;
    --rohtop: 4.5em;
}

.header {
    height: 10em;
    width: 100%;

    position: relative;
}

.icon {
    height: 10em;
    width: 12em;
    margin-left: 2.5em;
    
    display: inline-block;
    position: absolute;
}

.icon img {
    width: 10em;
    margin-top: 3em;
}

.hcatscont {
    height: 8em;
    width: 15em;

    display: inline-block;
    margin-top: 5em;
    margin-left: 15em;

    overflow: visible;
}

.SoT {
    height: 8em;
    width: 15em;

    display: inline-block;
    position: absolute;

    margin-top: 5em;
}

.SoT a {
    color: black;
    text-decoration: none;
    font-size: var(--fontsize);
    font-weight: 700;
}

.searchbar {
    width: fit-content;
    display: inline-block;
    
    position: absolute;

    margin-top: 4.5em;
    margin-left: 45em;
}

.searchbar input[type=text] {
    background-color: #F4f4f4;
    border-radius: 5px;
    border: 0;

    height: 40px;
    width: 550px;
    z-index: 1;
}

.search {
    border: none;
    position: absolute;

    background-color: #f4f4f4;
    height: 30px;
    margin-left: -60px;
    margin-top: 2px;
    z-index: 2;
}

.search img {
    height: 37.5px;
    width: 37.5px;
    z-index: 2;
}

.searchbar input[type=text]::placeholder {
    color: gray;
}

.cart {
    display: inline-block;
    position: absolute;

    margin-top: 3.9em;
    margin-left: 80em;
}

.carti {
    height: 60px;
    width: 60px;
}

.notifc {
    display:inline-block;
    position: absolute;

    margin-left: 68em;
    margin-top: 2em;
}

.notifs {
    font-weight: bold;
    display: flex;
    align-items: center;

    height: 2em;
}

.notifi {
    height: 40px;
    width: 40px;
}

.accs {
    font-weight: bold;
    display: inline-block;
    position: absolute;

    margin-left: 79.5em;
    margin-top: 2.4em;
}

.accs a {
    color:black;
    text-decoration: none;
}

.prodImg {
    width: 250px;
    height: 250px;
    float: left;
    padding-right: 20px;
}

.prodName {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1px;
}

.sellerName {
    font-size: 20px;
    margin-top: 1px;
}

/*FORM*/
.rating{
    margin-top: 200px;
}

.label{
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

/*COMMENT*/
.desc{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.2rem;
    background-color: #F4F4F4;
    border: none;
    resize: none;
    width: 70%;
    height: 150px;
    /* padding: 1rem; */
    float: left;
    margin-left: 190px;
    margin-top: -60px;
}

/*RATING*/
.rate {
    height: 46px;
    margin-left: 170px;
    margin-top: -55px;
    float: left;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #FD3B72;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #FD3B72;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #FF6C5A;
}

/*SUBMIT*/

.review {
    border-radius: 0.2rem;
    background-color: #FD3B72;
    font-weight: bold;
    border: none;
    color: white;
    text-align: center;
    padding: 15px;
    width: 175px;
    margin-top: 100px;
    letter-spacing: 1px;
    cursor: pointer;
}

.review:hover {
    background-color: #FF6C5A;
    color: white;
}

