.signupform {
    width: 500px;

    margin-left: 4em;
    margin-top: -3em;
}

.title {
    color: white;
    font-size: 2.75em;
    letter-spacing: -1.5px;
    font-weight: 700;

    margin-bottom: -.125em;
}

.inputs input{
    border: 0;
    border-radius: 5px;

    width: 500px;
    height: 45px;
    margin-top: 1em;

    font-size: 1.125em;
    font-weight: bold;
}

input[type="submit"] {
    border: 0;
    border-radius: 5px;
    background-color: #FF6C5A;

    width: 500px;
    height: 45px;
    margin-top: 1em;

    font-size: 1.125em;
    font-weight: bold;
    color: white;
}

.err {
    position: absolute;
    width: fit-content;
    margin-top: 43em;
    margin-left: 67.12em;

    font-weight: bold;
}